@import '../../index.css';

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: var(--light);
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--grey);
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginBtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--light);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 50px;
}

.loginBtn:hover {
  background-color: var(--primary-color-dark);
}

.loginRegisterButton {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--light);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

.loginRegisterButton:hover {
  background-color: var(--tertiary-color-dark);
  color: var(--light);
}

.forgot {
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  transition: all 0.3s;
  width: 100%;
  text-align: center;
}

.forgot:hover {
  color: var(--secondary-color-dark);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loginForm {
  background-color: var(--grey);
  padding: 2rem;
  border-radius: 10px;
}

.listContainer {
  display: flex;
}

.error {
  color: red;
  font-size: 18px;
  display: block;
  padding: 40px 0;
  text-align: center;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.logo {
  font-size: 50px;
  margin-left: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.loginNow {
  font-size: 24px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 10%;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 0.3s;
}

.loginNow:hover {
  background-color: var(--primary-color-dark);
}
