@import '../../index.css';

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  background-color: var(--light);
  overflow: hidden;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--grey);
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginBtn {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
  color: var(--light);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 50px;
}

.loginBtn:hover {
  background-color: var(--primary-color-dark);
}

.loginRegisterButton {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--tertiary-color);
  color: var(--light);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
}

.loginRegisterButton:hover {
  background-color: var(--tertiary-color-dark);
  color: var(--light);
}

.forgot {
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  transition: all 0.3s;
  width: 100%;
  text-align: center;
}

.forgot:hover {
  color: var(--secondary-color-dark);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.loginForm {
  background-color: var(--grey);
  padding: 2rem;
  border-radius: 10px;
}

.listContainer {
  display: flex;
}

.error {
  color: red;
  font-size: 18px;
  display: block;
  text-align: center;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.logo {
  font-size: 50px;
  margin-left: 20px;
  font-weight: bold;
  color: var(--primary-color);
}

.loginNow {
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  animation: fontChangeAnimation 4s infinite linear;
  color: var(--dark);
}

.imSure {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changeBgColor 8s infinite linear;
}

.logoAndName {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.logoIcon {
  font-size: 40px;
  color: var(--dark);
  animation: vibrate 2s linear both infinite;
}

.alert {
  width: 90%;
  color: var(--light);
  background-color: var(--tertiary-color-dark);
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
    filter: blur(4px);
    color: var(--primary-color);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes fontChangeAnimation {
  0% {
    font-size: 120px;
  }
  20% {
    font-size: 110px;
  }
  40% {
    font-size: 100px;
  }
  60% {
    font-size: 90px;
  }
  80% {
    font-size: 100px;
  }
  90% {
    font-size: 110px;
  }
  100% {
    font-size: 120px;
  }
}

@keyframes changeBgColor {
  0% {
    background-color: var(--primary-color);
  }
  20% {
    background-color: var(--primary-color-dark);
  }
  40% {
    background-color: var(--secondary-color);
  }
  60% {
    background-color: var(--secondary-color-dark);
  }
  80% {
    background-color: var(--primary-color-dark);
  }
  100% {
    background-color: var(--primary-color);
  }
}
