@import '../../index.css';

.feed {
  flex: 7.5;
}

.feedWrapper {
  padding: 20px;
}

.share {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(50, 80, 250, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  padding: 10px;
  transition: all 0.4s;
}

.shareProfileImg:hover {
  transform: scale(1.2);
  background-color: var(--grey);
  color: var(--light);
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: var(--light);
  transition: all 0.4s;
}

.shareButton:hover {
  background-color: var(--tertiary-color-dark);
}

.postList {
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 1000px) {
  .feed {
    flex: 9.5;
  }

  .feedWrapper {
    padding: 4px;
  }
}
