@import '../../index.css';

.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  margin-right: 30px;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: var(--light);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s;
}

.logo:hover {
  color: var(--dark);
}

.logoIcon {
  margin-right: 10px;
  animation: vibrate 2s linear both infinite;
}

.topbarRight {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light);
}

.topbarIcons {
  display: flex;
  align-items: center;
}

.topbarIconItem {
  margin-right: 14px;
  cursor: pointer;
  position: relative;
}

.topbarImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.5s ease;
}

.topbarImg:hover {
  box-shadow: 0 0 0 10px var(--dark);
  border-radius: 25%;
  transform: translateX(-5px);
}

.homeIcon,
.logoutIcon {
  margin-right: 10px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  color: var(--light);
  transition: all 0.4s;
}

.homeIcon:hover {
  color: var(--tertiary-color);
  transform: scale(1.3);
}

.logoutIcon:hover {
  color: red;
  transform: scale(1.3);
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
    filter: blur(1px);
    color: var(--dark);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
