.notificationBarContainer {
  display: flex;
  flex-direction: column;
  height: 0;
}

.notificationBar {
  background-color: #3b5998;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 8px;
  border-radius: 3%;
  margin-top: 10px;
}

.notification {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #e9e9e9;
  background-color: #3b5998;
  color: white;
}

.notification p {
  margin: 0;
  flex: 1;
}

.notificationBtn {
  margin-left: 8px;
  background-color: transparent;
  color: red;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.notificationBtn:hover {
  color: yellow;
}

.notificationsBtn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 50%;
}

.notificationsBtn:hover {
  color: rgb(233, 174, 65);
  transform: scale(1.4);
}

.black {
  color: black;
}
