@import '../../index.css';

.followList {
  background-color: var(--primary-color);
  color: var(--light);
  height: 24px;
  text-align: center;
}

.showListButton,
.hideListButton {
  background-color: transparent;
  border: none;
  color: var(--light);
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.4s;
}

.hideListButton {
  color: var(--dark);
}

.showListButton:hover,
.hideListButton:hover {
  color: var(--tertiary-color);
  transform: scale(1.3);
}

.peopleList {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
  background-color: var(--primary-color-dark);
  border-radius: 3%;
  margin-top: 18px;
}

.person {
  display: flex;
  align-items: center;
  padding: 8px;
}

.thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.name {
  margin-left: 8px;
  font-size: 16px;
}

.followButton,
.unfollowButton {
  background-color: transparent;
  border: none;
  color: var(--tertiary-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s;
}

.followButton:hover,
.unfollowButton:hover {
  color: var(--tertiary-color-dark);
}

.peopleInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 10px;
}

.peopleCountry {
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: var(--secondary-color);
}
