@import '../../index.css';

.sidebar {
  flex: 2;
  height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--grey);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(193, 191, 191);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(131, 131, 131);
}

.sidebarWrapper {
  padding: 20px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.sidebarListItem {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* justify-content: start; */
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.4s;
}

.sidebarListItem:hover {
  color: var(--secondary-color-dark);
}

.sidebarIcon {
  margin-right: 15px;
}

.sidebarButton {
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s;
}

.sidebarButton:hover {
  background-color: var(--tertiary-color);
  color: var(--light);
  transform: scale(1.05);
}

.sidebarHr {
  margin: 20px 0;
}

.sidebarFriendList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
