@import '../../index.css';

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.4s;
}

.sidebarFriend:hover {
  color: var(--tertiary-color);
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  transition: all 0.4s;
}

.sidebarFriendImg:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 700px) {
  .sidebarFriend {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .sidebarFriendImg {
    margin-right: 2px;
  }
}
